/*

  STYLE.CSS

*/
/* COMMON ---------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

html {
  font: 400 1em "Helvetica Neue", "Hevetica", sans-serif;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

a {
  color: #55ACEE;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }
  a:hover {
    color: #147ec9; }

/* PAGE ---------------------- */
.page {
  margin: 3em 5%; }
  @media (device-width: 320px) {
    .page {
      margin: 3em 0; } }

.title {
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  font-size: 3.5em;
  color: #282828; }

.btn {
  display: inline-block;
  padding: 1em;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  text-decoration: none; }

.twitter {
  background: #7CC7E8;
  color: #fff;
  font-weight: 500; }
  .twitter:hover {
    background: #26a3d8;
    color: #fff; }

.about {
  padding: 4em 0; }

.about h3 {
  padding-top: 1em; }

.warn {
  background: red;
  padding: 1em;
  margin: 10px 0;
  color: #fff; }

.user {
  display: inline-block;
  font-style: italic; }

.file {
  padding-top: 3em;
  padding-bottom: 10px; }

.swag {
  display: block;
  margin: 10px 0;
  padding: 1em;
  background: #000;
  color: #fff;
  border: 0;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  font-size: 1.5em;
  font-weight: 700; }
  .swag:hover {
    color: #000;
    background: #fff; }

.link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  text-align: center; }
  .link:hover {
    color: #fff;
    background: #990000; }
