/*

  STYLE.CSS

*/

/* COMMON ---------------------- */
*, *:before, *:after { box-sizing: border-box; margin: 0; }
html { font: 400 1em "Helvetica Neue", "Hevetica", sans-serif; color: #000; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; }
a { color: #55ACEE; transition: all .5s; &:hover { color: darken(#55ACEE, 20%); } }

/* PAGE ---------------------- */
.page { margin: 3em 5%; @media (device-width: 320px) { margin: 3em 0; } }
.title { padding: { top: .5em; bottom: .3em; } font: { size: 3.5em; } color: #282828; }
.btn { display: inline-block; padding: 1em; transition: all .5s; text: { decoration: none; } }
.twitter { background: #7CC7E8; color: #fff; font-weight: 500; &:hover { background: darken(#7CC7E8, 20%); color: #fff; } }
.about { padding: 4em 0; }
.about h3 { padding-top: 1em; }
.warn { background: red; padding: 1em; margin: 10px 0; color: #fff; }
.user { display: inline-block; font-style: italic; }
.file { padding: { top: 3em; bottom: 10px; } }
.swag { display: block; margin: 10px 0; padding: 1em; background: #000; color: #fff; border: 0; transition: all .5s; font: { size: 1.5em; weight: 700; } &:hover { color: #000; background: #fff; } }
.link { display: inline-block; font: { weight: 700; } text: { decoration: none; align: center; } &:hover { color: #fff; background: darken(red, 20%); } }
